@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --base-1: 60 20% 99.01960784313727%;
    --base-2: 60 7.692307692307676% 97.45098039215686%;
    --base-3: 30 6.666666666666641% 94.11764705882352%;
    --base-4: 40 6.382978723404229% 90.7843137254902%;
    --base-5: 45 6.451612903225783% 87.84313725490196%;
    --base-6: 45 5.128205128205112% 84.70588235294117%;
    --base-7: 48.00000000000007 4.95049504950496% 80.19607843137256%;
    --base-8: 51.42857142857122 4.964539007092202% 72.3529411764706%;
    --base-9: 60 2.978723404255321% 53.92156862745099%;
    --base-10: 60 2.362204724409446% 49.80392156862745%;
    --base-11: 60 2.590673575129532% 37.84313725490196%;
    --base-12: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --accent-1: 20.00000000000038 60.00000000000023% 99.01960784313727%;
    --accent-2: 33.33333333333332 100% 96.47058823529412%;
    --accent-3: 36.58536585365854 100% 91.9607843137255%;
    --accent-4: 34.05405405405405 100% 85.49019607843138%;
    --accent-5: 32.67326732673267 100% 80.19607843137256%;
    --accent-6: 30.240000000000002 100% 75.49019607843137%;
    --accent-7: 27.230769230769234 86.66666666666667% 70.58823529411765%;
    --accent-8: 25.03311258278146 79.8941798941799% 62.94117647058823%;
    --accent-9: 22.831858407079647 93.38842975206613% 52.54901960784314%;
    --accent-10: 23.849372384937237 100% 46.86274509803921%;
    --accent-11: 22.941176470588236 100% 40%;
    --accent-12: 16.27118644067797 50.42735042735044% 22.941176470588236%;
    --background: 60 20% 99.01960784313727%;
    --foreground: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --card: 60 7.692307692307676% 97.45098039215686%;
    --card-foreground: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --popover: 60 20% 99.01960784313727%;
    --popover-foreground: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --primary: 23.849372384937237 100% 46.86274509803921%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 7.692307692307676% 97.45098039215686%;
    --secondary-foreground: 60 2.590673575129532% 37.84313725490196%;
    --muted: 60 7.692307692307676% 97.45098039215686%;
    --muted-foreground: 60 2.590673575129532% 37.84313725490196%;
    --accent: 23.849372384937237 100% 46.86274509803921%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
    --border: 45 5.128205128205112% 84.70588235294117%;
    --input: 45 5.128205128205112% 84.70588235294117%;
    --ring: 45 5.128205128205112% 84.70588235294117%;
    --radius: 0.5rem;
}
  .dark {
    --base-1: 60 3.0303030303030307% 6.470588235294117%;
    --base-2: 60 2.0408163265306123% 9.607843137254902%;
    --base-3: 60 1.4925373134328304% 13.137254901960786%;
    --base-4: 60 2.4390243902439024% 16.07843137254902%;
    --base-5: 60 3.157894736842109% 18.627450980392158%;
    --base-6: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --base-7: 48.000000000000036 3.5460992907801394% 27.647058823529413%;
    --base-8: 42.857142857142804 3.7037037037037055% 37.05882352941177%;
    --base-9: 46.666666666666615 4.225352112676054% 41.76470588235294%;
    --base-10: 52.50000000000003 3.3333333333333335% 47.05882352941176%;
    --base-11: 44.999999999999844 5.1282051282051295% 69.41176470588235%;
    --base-12: 60 5.555555555555538% 92.94117647058823%;
    --accent-1: 26.666666666666664 24.324324324324326% 7.254901960784313%;
    --accent-2: 28 33.333333333333336% 8.823529411764705%;
    --accent-3: 28.5 64.51612903225805% 12.15686274509804%;
    --accent-4: 28.285714285714285 100% 13.725490196078432%;
    --accent-5: 27.906976744186043 100% 16.862745098039216%;
    --accent-6: 27.333333333333332 78.94736842105263% 22.35294117647059%;
    --accent-7: 24.74226804123711 62.58064516129033% 30.3921568627451%;
    --accent-8: 23.114754098360656 59.80392156862745% 40%;
    --accent-9: 22.831858407079647 93.38842975206613% 52.54901960784314%;
    --accent-10: 25.982142857142854 100% 56.07843137254902%;
    --accent-11: 26.07142857142857 100% 67.05882352941177%;
    --accent-12: 29.508196721311478 100% 88.0392156862745%;
    --background: 60 3.0303030303030307% 6.470588235294117%;
    --foreground: 60 5.555555555555538% 92.94117647058823%;
    --card: 60 2.0408163265306123% 9.607843137254902%;
    --card-foreground: 60 5.555555555555538% 92.94117647058823%;
    --popover: 60 3.0303030303030307% 6.470588235294117%;
    --popover-foreground: 60 5.555555555555538% 92.94117647058823%;
    --primary: 25.982142857142854 100% 56.07843137254902%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 2.0408163265306123% 9.607843137254902%;
    --secondary-foreground: 44.999999999999844 5.1282051282051295% 69.41176470588235%;
    --muted: 60 2.0408163265306123% 9.607843137254902%;
    --muted-foreground: 44.999999999999844 5.1282051282051295% 69.41176470588235%;
    --accent: 25.982142857142854 100% 56.07843137254902%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --input: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --ring: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
